.navbar {
  border-radius: 0;
  background: BLACK;
  height: 120px;
}


@font-face {
  font-family: FiveDollar;
  src: url(FiveDollar.ttf);
}
.navbar-brand{
  font-family: FiveDollar;
  font-size: 50px;
  
}

.navPic{
  opacity: 0.5;
}

#navbarNav{
  position:relative;
}