#root {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }
 
 .container {
   flex: 1;
 }
 .container-fluid {
   flex: 1;
 }

 footer{
   padding: 1.5rem;
   background: #404040;
   color: #999;
   font-size: .85em;
   overflow-x: hidden;
   text-align: center;
 }