

body{
    
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://img.clipartxtras.com/020ae27bb56388b34923813e10ec2675_basketball-half-court-clipart-clip-art-library-basketball-half-court-clipart_1246-617.png");
    background: url('https://img.clipartxtras.com/020ae27bb56388b34923813e10ec2675_basketball-half-court-clipart-clip-art-library-basketball-half-court-clipart_1246-617.png');
    

}

